html {
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-image: url(./assets/img/nubes.png);
 
  background-repeat: no-repeat;
  background-size:cover

}

*, 
::before,
::after {
  box-sizing: inherit;
}

button, span,body{
  margin: 0;
  padding: 0;

}

ul{
  padding: 0;
}
li{
list-style: none;
}
p,img{
  margin: 0;
}



.App{
 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 0;
}

.card__container{

border: 3px black solid;
border-radius: 10px;
padding: 15px;
}

.card-tittles{
display: flex;
flex-direction: column;
align-items: center;
}

.card-content__container{
  display: flex;
flex-direction: row;
align-items: center;
}

.card-img{
  display: flex;
flex-direction: column;
align-items: center;
}


.card-img img{
  width: 100%;
  height: auto;
  padding: 5px 0;
 
}


@supports(object-fit: cover){
  .card-img img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }




.card-img p{
font-size: x-large;
}

.card-text{
  font-size: large;
  padding: 20px;
 
}




.card-btn{
padding-top: 50px;
  display: flex;
  justify-content: center;
}

.card-btn button{
  border: none;
  color: aliceblue;
  font-size: x-large;
padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(120, 36, 189);
}

.card-btn button:active{
  box-shadow:  1px 1px  #000;
  transition: box-shadow 200ms ease ;
  
}

.card-btn button:hover{
  transform: scale(1.1);

}

.loader{

  font-size: xx-large;
  color: blueviolet;
}